@charset "UTF-8";

/*------------
    CHECK
-------------*/
/* .header{
    background-color: #d03c56;
} */
.main{
    background-color: aqua;
}


.clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
/*------------
    base
-------------*/
html{
    font-size:62.5%;
}

body{
    color:#333;
    background-color: cadetblue;
    font-size:1.4rem;
    font-family: 'Jura',"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
    text-align: center;
}

*,*::before, *::after{
    box-sizing:border-box;
}
a:link,a:visited,a:hover,a:active{
    color: #d03c56;
    text-decoration:none;
}


/*-----------
    Parts
------------*/
.clearfix::after{
    content:'';
    display: block;
    clear: both;
}
.heading{
    padding:10px 12px;
    border-bottom:solid 2px #333;
    letter-spacing: 1px;
    font-size: 1.6rem;
}
.hidden{
    display: none;
}
/*-----------
    Header
------------*/
.header{
    padding:200px 30px 120px;
    }
.sub-title{
    margin:0 0 30px;
    letter-spacing:1px;
    font-size:2.1rem
}
.main-title{
    margin:50px o 40px;
    font-size:7.6rem;

}

 .sub-title span{
    color:firebrick;
}

.discription{
    margin-bottom:50px;
    font-style: oblique;
    color:ivory;
    font-size:1.6rem;
}

/*-----------
    Branch
-----------*/

.branch{
    padding:80px 0px;
    background-color: khaki;
    color:#333;
}

.branch-heading{
    display:inline-block;
    border-bottom: 2px double ;
    font-size: 1.6rem;
    
}

.branch-wrapper{
    display:table;
    width:100%;
    margin-top:60px;
    table-layout: fixed;
}

.branch-box{
    position: relative;
    display: table-cell;
}

.branch-box::after{
    content: '';
    position: absolute;
    top:50%;
    left:0%;
    width:100%;
    height:50%;
}

.branch-img{
    display:block;
    width:100%;
    margin:0 0 60%;

    /*ここのブロック指定は重要？*/

}

.branch-descropiton{
    position:absolute;
    top:50%;
    left:0;
    z-index:1;
    width:100%;
    height:100%;
    overflow-y:auto;
}

.branch-text{
    display:table-cell;
    vertical-align:middle;
    font-size:1.2rem;
    line-height:2;

}

.company{
    padding:80px;
    background-color:oldlace;
    color:#333;
}

.company-heading h2{
    font-size: 2.0rem;
    text-decoration:underline double
}

.company-wrapper{
    display:table;
    width:80%;
    margin:50px auto 0;
    table-layout: fixed;
}

.company-box{
    display: table-cell;
}

.company-img{
    /* box-shadow: black 1px 1px 1px 2px;
    border-radius: 5%;
    width:230px;
    height:300px; */
   
    width:90%;
}

.company-text{

}
.company-title{
    font-size:1.6rem;
    font-style: italic;
}
