@charset "UTF-8";

/*------------
    CHECK
-------------*/
/* .header{
    background-color: #d03c56;
} */
.main{
    background-color: aqua;
}

/*------------
    base
-------------*/
html{
    font-size:62.5%;
}

body{
    color:#333;
    background-color: cadetblue;
    font-size:1.4rem;
    font-family: 'Jura',"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
    text-align: center;
}

*,*::before, *::after{
    box-sizing:border-box;
}
a:link,a:visited,a:hover,a:active{
    color: #d03c56;
    text-decoration:none;
}

/*-----------
    Parts
------------*/
.clearfix::after{
    content:'';
    display: block;
    clear: both;
}
.heading{
    padding:10px 12px;
    border-bottom:solid 2px #333;
    letter-spacing: 1px;
    font-size: 1.6rem;
}
.hidden{
    display: none;
}
/*-----------
    Header
------------*/
.header{
    padding:200px 30px 120px;
    }
.sub-title{
    margin:0 0 30px;
    letter-spacing:1px;
    font-size:2.1rem
}
.main-title{
    margin:50px 40px;
    font-size:7.6rem;

}

.sub-title span{
    color:firebrick;
}

.discription{
    margin-bottom:50px;
    font-style: oblique;
    color:ivory;
    font-size:1.6rem;
}

.about_div{
    height: 700px;
    background-color: white;
}

.about_head{
    font-size: 30px;
    padding-top: 50px;
    border-bottom:solid #333 1px;
    width: 180px;
    margin:0 auto;
    padding-bottom: 2px;
}

.about_p{
    font-size:20px;
    letter-spacing:0.1em;
}

.image_ma{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top:30px;
}

.about_blue{
    height: 700px;
    
}

.member_bold{
    font-weight:500;
    font-size: 18px;
    padding-top: 10px;
}

.div_flex{
    display: flex;
}

.div_member_50{
    padding-top: 20px;
    width: 50%;
}
.about_blue_80{
    width: 80%;
    margin: 0 auto;
}
.div_member_33{
    padding-top: 50px;
    width: 33%;
}

